body{
	margin:0;
	padding:0;
}
#fond{
	width:100vw;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
.container{
	background-image:url("./images/simonBG.png");
	background-size: cover;
}

#blue{
	width:210px;
	height:210px;
}
#green{
	width:210px;
	height:210px;
}
#red{
	width:210px;
	height:210px;
}
#yellow{	
	width:210px;
	height:210px;
}
